.container {
    text-align: center;
    margin-top: 100px;
}
.img {
    width: 300px;
    height: 300px;
    margin-top: 50px;
}
.person-description {
    margin-top:20px;
}
.person-name-age {
    font-weight: 400;
    font-size: 18px;
}
.person-info{
    margin-top: 15px;
    font-weight: bold;
    font-size: 43px;
}
.buttom {
    margin-top:30px;
}
.button-icon {
   
    border: none;
    margin-left: 20px;
}